<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804223450200-3odhsjhds9rv17fos633pgr00d5emnc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804223450200-3odhsjhds9rv17fos633pgr00d5emnc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSj8xZ4enOiMp9WDmts0_5N7i2h-iD520</string>
	<key>GCM_SENDER_ID</key>
	<string>804223450200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harsatapp</string>
	<key>PROJECT_ID</key>
	<string>harsat-1f4d3</string>
	<key>STORAGE_BUCKET</key>
	<string>harsat-1f4d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804223450200:ios:3895bed4ef35e89c1c5e2d</string>
	<key>DATABASE_URL</key>
	<string>https://harsat-1f4d3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>